.anim-bg-gradient {
    background: var(--gradient);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s, scale 0.15s;
  }
  
.anim-bg-gradient:hover {
    background-position: 0 0;
  }