.title{
    margin-bottom: 5px;
}
.project{
    margin-bottom: 20px;
}

.view{
    margin-left: 20px;
    margin-bottom: 20px;
}

.description{
    margin-bottom: 20px;
}
.test{
    margin-left: 25%
}